<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConsultaGrupos</servlet-name>
        <servlet-class>t3b.analisis.srv.ConsultaGrupos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaLineasxGrupo</servlet-name>
        <servlet-class>t3b.analisis.srv.ConsultaLineasxGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaTipoProds</servlet-name>
        <servlet-class>t3b.analisis.srv.ConsultaTipoProds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaEstadoProductos</servlet-name>
        <servlet-class>t3b.analisis.srv.ConsultaEstadoProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaProveedores</servlet-name>
        <servlet-class>t3b.analisis.srv.ConsultaProveedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaProductos</servlet-name>
        <servlet-class>t3b.analisis.srv.ConsultaProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>t3b.analisis.actions.InicioSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultaGrupos</servlet-name>
        <url-pattern>/ConsultaGrupos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaLineasxGrupo</servlet-name>
        <url-pattern>/ConsultaLineasxGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaTipoProds</servlet-name>
        <url-pattern>/ConsultaTipoProds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaEstadoProductos</servlet-name>
        <url-pattern>/ConsultaEstadoProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaProveedores</servlet-name>
        <url-pattern>/ConsultaProveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaProductos</servlet-name>
        <url-pattern>/ConsultaProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/InicioSesion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
